.battery-indicator {
  display: inline-flex;
  align-items: center;

  table {
    table-layout: fixed;

    td {
      text-align: left;

      &:first-child {
        width: 10em;
      }
    }
  }

  .battery:after {
    background-color: #fff;
    border: 2px solid #000;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    right: -6px;
    top: 6px;
    width: 6px;
  }
  .battery {
    background-color: #fff;
    border: 2px solid #000;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100px;
  }
  .battery #battery-level {
    background-color: #666;
    height: 100%;
    transition: all 0.3s ease-in-out;

    &.high {
      background-color: #66CD00;
    }
    &.medium {
      background-color: #FCD116;
    }
    &.low {
      background-color: #FF3333;
    }
  }
}
