.feed-container {
  width: 600px;
  height: 700px;
  border: 1px solid black;
}

.proximity-gauge-container {
  height: 90%;

  input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100%;
  }
}
