.feed-container {
  width: 600px;
  height: 700px;
  border: 1px solid black;
}

.proximity-gauge-container {
  height: 100%;
  width: 40px;

  .gauge-rail {
    height: 90%;

    .gauge-block {
      position: relative;

      transition: top 0.1s linear;

      height: 10%;
      width: 20px;
      background-color: #0c89d2;
    }
  }
}
