.feed-container {
  img {
    width: 100%;
    max-height: 100%;
  }
}

.proximity-gauge-container {
  height: 100%;
  width: 40px;
  position: absolute;
  top: 0;

  .gauge-rail {
    height: 90%;

    .gauge-block {
      position: relative;

      transition: top 0.1s linear;

      height: 10%;
      width: 20px;
      background-color: #0c89d2;
    }
  }

  .gauge-text {
    background-color: rgba(200, 200, 200, 0.5);
  }
}
