.direct-command-container {
  border: 1px solid gray;
}

.command-input {
  background: rgba(200, 200, 200, 0.3);
  border: 1px solid gray;

  position: absolute;

  width: 500px;
  height: 400px;
  position: fixed;
  top: calc(50% - 200px); // half of width
  left: calc(50% - 250px); // half of height

  pre {
    width: 90%;
    text-align: left;
    padding: 10px;
  }

  textarea {
    width: 90%;
  }

  button {
    width: 90%;
    height: 50px;
  }
}
