.movement-container {
  width: 300px;
  border: 1px solid gray;
  padding: 5px;

  .virt-joystick-container {
    touch-action: none;

    border: 1px solid gray;
    display: inline-flex;
    width: 15em;
    height: 15em;
    justify-content: center;
    align-items: center;
  }

  .speed-slider input {
    width: 90%;
    padding-bottom: 20px;
  }

  .keypad {
    width: 100%;

    table {
      margin: 0 auto;
    }
  }
}
