.telemetry-container {
  width: 400px;
  border: 1px solid gray;
  padding: 5px;
}

.telemetry-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
