<?xml version="1.0"?>
<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro">

  <xacro:macro name="proximity_sensor" params="group name xyz rpy tf_prefix='' update_rate:=10 range_min:=0.00 range_max:=0.12 resolution:=0.005 fov:=1.001">
    <link name="proximity_sensor_link">
      <collision>
        <geometry>
          <box size="0.01 0.01 0.01"/>
        </geometry>
        <origin xyz="-0.01 0 0" />
      </collision>

      <visual>
        <geometry>
          <box size="0.01 0.01 0.01"/>
        </geometry>
      </visual>

      <inertial>
        <mass value="0.114" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>

    <joint name="proximity_sensor_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="hat_link"/>
      <child link="proximity_sensor_link"/>
    </joint>

    <gazebo reference="proximity_sensor_link">
      <sensor name="proximity_sensor" type="ray">
        <frame name="proximity_sensor_link"/>
        <visualize>true</visualize>
        <update_rate>${update_rate}</update_rate>
        <always_on>true</always_on>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>-${fov / 2}</min_angle>
              <max_angle>${fov / 2}</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>-${fov / 2}</min_angle>
              <max_angle>${fov / 2}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${range_min}</min>
            <max>${range_max}</max>
            <resolution>${resolution}</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>${resolution / 2}</stddev>
          </noise>
        </ray>

        <plugin name="proximity_sensor_controller" filename="libgazebo_ros_ray_sensor.so">
          <radiation_type>infrared</radiation_type>
          <ros>
            <argument>~/out:=scan</argument>
          </ros>
          <!-- <output_type>sensor_msgs/Range</output_type> -->
          <output_type>sensor_msgs/LaserScan</output_type>
        </plugin>

        <plugin name="proximity_sensor_controller_pc2" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <remapping>~/out:=pointcloud2</remapping>
          </ros>
          <output_type>sensor_msgs/PointCloud2</output_type>
        </plugin>

        <plugin name="proximity_sensor_controller_range" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <remapping>~/out:=range</remapping>
          </ros>
        </plugin>
      </sensor>
      <material>Gazebo/DarkGrey</material>
    </gazebo>
  </xacro:macro>

</robot>
