<launch>
  <param name="robot_description" textfile="robotmodel.xml"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />


  <include file="$(find freenect_launch)/launch/freenect.launch">
    <arg name="depth_registration" value="true" />
  </include>
</launch>

<!-- Note that we set `approx_sync` to false for `rtabmap` node to make sure it uses exactly the `odom` computed with the same `rgbd_image` topic. -->
